body{
    background-color:bisque;
}
p{
    display:grid;
    background-color: whitesmoke;
    padding:3px;
    margin:14px;
}
.menu_Item{
    border-color:darkslategrey;
    padding:2px;
    border-style:solid;
    background-color: aquamarine;
}
#canvasBox{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    background-color: whitesmoke;
    border-color: black;
    border-width: 4px;
    border-style:solid;
    padding:5%;
    margin:1%;
    /* align-content: center;
    alig */
}
canvas{
    background-color: white;
    border-color: black;
    border-width: 4px;
    border-style:solid;
    margin:3%;
    align-self: center;
    padding:5%
}
/* .container{
    display:grid;
    
    padding:5%;
    margin:5px;
} */
/* .container>div{
    background-color: whitesmoke;
    border-color: black;
    border-width: 4px;
    border-style:solid;
    
} */

.dynaPage{
    background-color:beige;
    border-color: darkslategrey;
    border-width: 4px;
    border-style: solid;
    margin:1cap;
}
.dynaPageTitle{
    text-align:center;
    align-self: center;
}
/* #dyna{
    display:grid;
    background-color: aquamarine;
    border-color: blue;
    border-width: 4px;
    border-style:solid;
    margin:1%;
} */